.navbar .navbar-brand {
  font-size: 30px;
}
.navbar .nav-item {
  padding: 10px 20px;
}
.navbar .nav-link {
  font-size: 1em;
  margin-left: 10px;
}
.navbar {
    border-radius: 0px !important;
    box-shadow: 0px 10px 40px rgba(60, 55, 61, 0.5);
}
.navbar-gray {
    background-color: #040A06;
}

.color-white {
    color: white;
}
.color-white:hover {
    color: #D7D7D7;
}